<p id="notice"><%= notice %></p>

<p>
  <strong>Script:</strong>
  <%= @note.script_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user_id %>
</p>

<p>
  <strong>Note content:</strong>
  <%= @note.note_content %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
